/* 
css ref:

* alignment
https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ 

* flexbox
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox#the_two_axes_of_flexbox


*/
.App {
  text-align: center;
}

