/* Overall */
html, body{
  background-color: #161c26;
  font-family: Arial, Helvetica, sans-serif;
  color: #d8d8d8;
  font-size: small;
  scroll-behavior: smooth;
}

.container-fluid {
  margin-top: 15vh;
  margin-bottom: 15vh;
  padding-left: 100px;
  padding-right: 100px;
}

span {
  color:#ff6666;
}

/* Home */
#home {
  margin-top: 0;
}

#home h1 {
  font-size: 50px;
  font-weight: bold;
}

#home p {
  font-size: 16px;
  font-weight: bold;
}

#home h3 {
  color: #ff6666;
  font-size: 30px;
  font-weight: bold;
}

#home .row {
  width: 50%;
  padding-top: 100px;
  text-align: justify;
  font-size: large;
}

#home #credit {
  font-size: small;
  font-weight: bold;
}

/* Toilet paper */
#sections {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: justify;
}

.step {
  margin-bottom: 200px;
}

#sections .title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#vis {
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  align-content: center;
}

.stick {
  position: fixed;
  top: 150px;
}

#vis .title {
  font-size:4vw;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:4vw;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d8d8d8;
  shape-rendering: crispEdges;
}

.highlight {
  fill:rgb(223, 150, 42);
  font-weight: bold;
}

/* Animal */
#animal {
  margin-top: 50px;
}

#animal h1 {
  font-size: 4em;
}

#animal h4 {
  color: #ff6666
}

#animal .line-path {
  fill: none;
  stroke-linejoin: round;
}

#animal line {
  fill: none;
  stroke:#d8d8d8;
  stroke-dasharray: 5, 3;
  opacity: 0.2;
  /* background-image: url(../public//image//doctor.jpg); */
}

/* Stock */
#stock {
  margin-top: 100px;
}

/* https://coderwall.com/p/hkgamw/creating-full-width-100-container-inside-fixed-width-container */
#stock .row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

#stock h1 {
  font-size: 4em;
  text-align: left
}

#stock text {
  font-size: 0.5vw
}

/* CO2 */

#co2 h1 {
  font-size: 4em;
  text-align: left
}

/* Vertical Navigation Bar*/
#cd-vertical-nav a {
  color: #ffffff;
  text-decoration: none;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cd-vertical-nav {
  position: fixed;
  left:20px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

#cd-vertical-nav li {
  text-align: left;

}

#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#cd-vertical-nav a span {
  float: left;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

#cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity :0.8;
}
#cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  z-index: 0;
}

#cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
  opacity: 1;
}

.cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.1;
}

#cd-vertical-nav .cd-label {
  position: relative;
  color: white;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 12px;
  line-height: 6px ;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  z-index:0;
}

